* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #03152e;
}

.titulo {
  margin: 1.5rem;
  text-align: center;
}

p,
h2 {
  margin: 10px;
  text-align: center;
  color: yellowgreen;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#form {
  text-align: center;
  color: #ffff;
}

table {
  text-align: center;
  margin-top: 1.5rem;
  width: 300px;
}

th,
tr,
td {
  border: solid 1px white;
  color: white;
  padding: 10px;
}

#form {
  display: flex;
  flex-direction: column;
}

#form h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  width: 300px;
  background: #fff;
  border: 0.5 solid;
  padding: 12px 24px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
  text-transform: capitalize;
}

.botao-grupo {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-bottom: 20px;
}

.botaoLimpar,
.botaoCalcular {
  color: black;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 16px 45px;
  font-size: 16px;
  text-align: center;
  width: 300px;
}

.botaoCalcular:hover {
  background: green;
  color: white;
}

.botaoLimpar:hover {
  background: red;
  color: white;
}

strong {
  text-align: center;
  margin-bottom: 30px;
}

#resultado {
  width: 200px;
  color: white;
  font-weight: 700;
}

@media screen and (min-width: 760px) {
  table {
    text-align: center;
    margin-top: 1.5rem;
    width: 600px;
  }

  #form{
    margin-top: 2rem;
    display: flex;
  }
  input{
    text-align: center;
    width: 600px;
    justify-content: center;
  }
  .botao-grupo{
    display: flex;
    flex-direction: row;
    width: 600px;
  }

  .botaoCalcular,
  .botaoLimpar{
    width: 600px;
  }
  p{
    margin-bottom: 4rem;
  }
}